math{
    font-family: verdana,sans-serif !important;
}
html, body {
/*
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 90%;
*/
	font: 90% verdana,sans-serif;	
	background-color: #e4e4e4;
    margin: 0;
	padding: 0;
}

#main_box {
	background-color: whitesmoke ;
    width: 80%;
	max-width: 720px;
    margin-left: auto;
	margin-right:auto;
	margin-top: 0;
	margin-bottom:0;
	padding: 0% 2em 2% 2em;
	min-height:95%;
}

#hiatus_info {
    font-size:120%;
	text-align:center;
    font-weight:bold;
}

a { 
	color:green; 
	font-weight:normal; 
	text-decoration:none; 
}
/*
a.title { 
	color:green; 
	font-weight:normal; 
	text-decoration:none; 
}
*/


h2 {
	font:  italic bold 2em  sans-serif;
	color: black ;
	text-align: center;
    padding-top: 1em;
	padding-bottom: 0.5em;
	margin: 0;
}
h3 {
	font-size: 130%;
	font-variant: small-caps;
	border-top: 1px solid #dddddd;
	color: DimGray ;
	text-align: center;
    padding-top: 30px;

}

#organizers {
	background-color: whitesmoke ;
	font-weight: bold;
	color: black ;
	text-align:center;
	margin-bottom:1em;
	}

.tba {
    color: gray;
    font-style: italic;
}
.description {
	padding: 4px 0px 2px 20px;
  font-size:130%;
}

.schedule_item_odd {
	  background-color: #e4e4e4;
    padding:7px;
    font-size: 80%;
	  border-radius: 8px;
    margin:3px;
}
.schedule_item_even {
   background-color: #e4e4e4;
   border-radius: 8px;
	 padding:7px;
   font-size: 80%;
	 margin:3px;
}
.schedule_item_abs{
   background-color: #whitesmoke;
   border-radius: 0px;
    border: 2px;
	 padding:7px;
	 padding-top:15px;
   font-size: 80%;
	 margin:3px;
	 border-bottom: 3px solid #dddddd;
}

.schedule_item_upcoming {
	font-size:80%;
  border:2px inset #bbbbbb;
	border-style: solid inset inset solid; 
	border-radius: 8px;
  padding:5px;
	padding-top:1px;
	margin-left:30px;
 margin-right:30px;
}

.upcoming_title {
	text-align: right;
	padding-right: 2px;
	color: DimGray;
	font-style: italic;
	font-variant: small-caps;
}

.term_navi {
	text-align: left;
	font-variant: small-caps;
	font-style:italic;
	font-weight: bold;
	color: DimGray;
	font-size: 100%;
	 padding: 10px 0px 05px 0px ;
  margin: 0 0px 0 0px;
}

#schedule_box, #abstract_box, #upcoming_box{
	padding: 0 0 0 0px;
}

#abstract_box, #upcoming_box{
    padding-top: 15px;
}
#upcoming_box {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	padding: 0
}

#schedule_box p {
    padding: 0;
    margin: 0;
    line-height:100%;
}
h3 {
	margin: 50px 0 0 0;
}
p {
	text-align: justify;
	line-height: 140%;
  margin:0.2em;
}

.date {
    color: DimGray;
	  padding: 0 10px 0 0;
    font-variant: small-caps;
   font-weight: bold;
}
.time {
    padding: 0 10px 0 0px;
	  color: DimGray;
    font-variant: small-caps;
	  font-weight: bold;
}
.venue {
	  font-variant: small-caps;
    font-weight: bold;
	  color: DimGray;
}

.title {
     font-style: italic;
    
}
.speaker {
     font-weight: bold;
}
.title_dash {
    padding-left:10px;
	padding-right: 10px;
}

.warning, .no-show {
	  color: DimGray;
}
.next_term {
	margin-right:2em;
	float: right;
}
.prev_term {
	margin-left:2em;
	float:left;
}
.term_header {
	margin: auto;
}
.term_navi {
	width: 100%;
	text-align: center;
	margin-top:0.8em;
	margin-bottom:0.8em;
}
