---
# This is a yaml file with database of ACM semianr meetings 
# Records should be separated by three dashes.
# Each line of the abstract should start with one or several spaces

year: {{academic_year}}
{% for t in range(3) %}
---
term:   {{t}}
items:
{% for d in dates[t] %}
 - date:    {{d}}
   time:       
   venue:      
   speaker:     
   university: 
   title:      
   extra-info:
   abstract: 
# Each line of the abstract must start under 'b' in 'abstract' (or further), e.g.:
#   We study    
#   some really cool and interesting stuff 
#        which I'll illustrate with the following integral: $\int $
#   Ha!
{% endfor %}{% endfor %}
